{% extends '../base.html' %}
{% load static %}
{% block content %}
    <!-- Post single page -->
<section class="py-5">
      <div class="container text-center">
        <p class="h6 mb-0 text-uppercase text-primary">About Us</p>
        <h1>What we do!</h1>
        <p class="mb-3">What we do,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,What we do,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        What we do,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         consectetur adipisicing elit, sed do eiusmod </p>

      </div>
        
    </section>


{% endblock content %}